body {
  font-family: lato, sans-serif;
  color: white;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  background-color: #1996da;
  padding: 10px;
}

.row {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.column-full {
  width: 100%;
}

.column-one-third {
  width: 33.33%;
  padding: 10px;
}

img {
  max-width: 50px;
}

.justify-content {
  justify-content: center;
}

.align-items {
  align-items: center;
}

.text-align {
  text-align: center;
}

p {
  color: #ddd;
  font-size: small;
}

.circle {
  border-radius: 100%;
  width: 75px;
  height: 75px;
  margin: 0 auto;
  padding: 13px;
  background: white;
}
