.container {
  max-width: 800px;
  margin: 0 auto;
}

div.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-fourth {
  width: 25%;
  position: relative;
  margin-right: 70px;
}

body {
  font-family: Barlow, sans-serif;
}

h2 {
  font-weight: 900;
}

.text-align {
  text-align: center;
}

.justify-content {
  justify-content: center;
}

img.phone {
  width: 270px;
  position: relative;
  right: 32px;
}

img.icon {
  width: 60px;
  position: absolute;
  right: 72px;
}

p.bold {
  font-weight: 700;
}

.margin-top {
  margin-top: 76px;
}

p.small {
  font-size: small;
  margin-top: 35px;
}
