body {
  font-family: sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

div.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-one-third {
  width: 33.33%;
}

.column-one-fourth {
  width: 25%;
}

.column-two-thirds {
  width: 66%;
}

img {
  max-width: 100%;
}
