body {
  font-family: sans-serif;
}

button {
  margin: 5px;
  border-radius: 6px;
  padding: 13px;
  background-color: lightblue;
  border-color: darkgray;
}

.button:hover {
  background-color: black;
  color: white;
  border-color: darkgray;
}

table {
  font-family: serif;
}

thead,
th {
  background-color: black;
  color: white;
}

tr:nth-child(odd) {
  background-color: lightgray;
}
