i {
  position: relative;
}

.fa-circle {
  padding: 7px;
}

#next-img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#prev-img {
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

i:hover {
  cursor: pointer;
  color: #55caca;
}
