body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}

.word-container {
  position: relative;
  top: 300px;
  left: 0;
  display: inline;
}

span {
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  white-space: pre;
}

.active {
  padding: 3px 0;
  color: black;
  border-bottom: 3px solid;
}

.correct {
  color: chartreuse;
}

.incorrect {
  color: red;
  border-bottom: 3px solid red;
}
