* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.fighter {
  width: 100%;
}

.container {
  max-width: 992px;
  margin: 0 auto;
  padding: 0 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col,
.col-sm-half,
.col-lg-third,
.col-lg-fourth {
  padding: 0 0.5rem;
  width: 100%;
}

/* your code 👇 here */
@media (min-width: 576px) {
  .row > .col-sm-half {
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .row > .col-lg-third {
    max-width: 33.33%;
  }

  .row > .col-lg-fourth {
    max-width: 25%;
  }
}
